$brand-color: #16a085;
$brand-color-op8: rgba(0, 135, 81, 0.8);
$brand-color-lite: #f0fff0;
$brand-color-lite-op: rgba(240, 255, 240, 0.85);
$brand-color-dark: #212121;
$white-color: #FFFFFF;
$white-color-op6: rgba(255, 255, 255, 0.6);
$dark-color: #526173;
$dark-color-lite: rgba(0, 0, 0, 0.125);
$blue-color: #014c8c;
$red-color: #C9625F;
$transparent-color: transparent;